body {
  font-size: 80%;
  font-family: Verdana, Helvetica, Arial, sans-serif !important;
  margin: 0px;
}

/* title */
.bibtitle { font-weight:bold; }
/* author */
.bibauthor { /* nothing by default */ }
/* booktitle (e.g. proceedings title, journal name, etc )*/
.bibbooktitle { font-style:italic; }
/* publisher */
.bibpublisher { /* nothing by default */ }


/* 1st level headers, equivalent H1  */
.rheader {
  color: #003366;
  font-size: 130%;
}

/* 2nd level headers, equivalent H2  */
.sheader {
  background-color: #ccd6e0;
  padding: 2px;
  margin-bottom: 0px;
  margin-top: 7px;

}

/* 3rd level headers, equivalent H3  */
.theader {
  background-color: #ccd6e0;
  color: #003366;
  padding: 1px 2px 1px 2px;
}

.btb-nav-title {
  background-color: #ccd6e0;
  color: #003366;
  padding: 1px 2px 1px 2px;
}

.menu {
  padding: 0.5em 0em;
  border-bottom: 1px solid #B2C1D1;
  margin: 0px;
}
.menu a {
  color: #006699;
  text-decoration: none;
}
.menu a:hover {
  color: #004665;
}

dd {
  display: inline; /* for <dt> if BIBTEXBROWSER_LAYOUT='definition' */
}

.bibitem {
  margin-left:5px;
}

.bibref {
  padding:7px;
  padding-left:15px;
  vertical-align:text-top;
  display: inline; /* for <dt> if BIBTEXBROWSER_LAYOUT='definition' */
}

.result {
  border: 1px solid #000000;
  margin:0px;
  background-color: #ffffff;
  width:100%;
}
.result a {
  text-decoration: none;
  color: #006699;
}

.result a:hover {
  color: #004665;
}

.input_box{
  margin-bottom : 2px;
}
.a_name a {
  color:#469AF8;
  width:130px;
}

.rsslink {
  text-decoration: none;
  color:#F88017;
/* could be fancy, see : http://www.feedicons.com/ for icons*/
  /*background-image: url("rss.png"); text-indent: -9999px;*/
}

.purebibtex {
  font-family: monospace;
  font-size: small;
  border: 1px solid #DDDDDD;
  background: none repeat scroll 0 0 #F5F5F5;
  padding:10px;

  overflow:auto;
  width:600px;

  clear:both;
}
.bibentry-by { font-style: italic; }
.bibentry-abstract { margin:15px; }
.bibentry-label { margin-top:15px; }
.bibentry-reference { margin-bottom:15px; padding:10px; background: none repeat scroll 0 0 #F5F5F5; border: 1px solid #DDDDDD; }

.btb-nav { text-align: right; } 

.poweredby {
	text-align:right;
	font-size: xx-small;
	opacity: 0.6;
}
